<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>alg_BinarySearch223wd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>algorithmKQYcLanguage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>jz03_FindInParticallySoftedMatrix_p38.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>jz03_FindInParticallySoftedMatrix_p38Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>jz04_ReplaceBlank_p45.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>jz04_ReplaceBlank_p45Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>jz04_ReplaceBlank_p46.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>jz05_reverseList_p51.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>jz05_reverseList_p52.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>jz05_reverseList_p52Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>jz08_MinNumberInRotatedArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>jz08_MinNumberInRotatedArray_p66Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>jz09_Fibonacci_p72.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>jz09_reverseAdd_p71.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>jz10_NumberOf1InBinary_p78.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>jz10_NumberOf1InBinary_p79.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>jz11_power_p90.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>jz12_print1ToMaxOfDigits_p94.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>jz13_DeleteNodeInList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>jz14_ReOrderArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>jz15_KthNodeFromEnd_p110.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>jz15_KthNodeFromEnd_p110Second avoidNull.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>jz15_KthNodeFromEnd_p110Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>jz16_ReverseList_p113.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>jz16_ReverseList_p113Second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>jz16_ReverseList_p114.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>jz16_ReverseList_p115.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jz17_mergeSortedLists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>sort_qzbd_p250.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>testCreateList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>testCreateList2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6826191F1E7F927F00511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6826192D1E7F931D00511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682619381E7F937100511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682619431E7F93C600511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6826194E1E7F941800511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682619591E7F958500511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682619641E7FBFF900511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682619B11E810A5200511248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317F631E877DFD00C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317FAD1E889E2E00C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317FB81E88ACA500C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317FC31E88B57000C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317FCE1E88C66F00C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68317FE41E88E93E00C24A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68384E781E824ADD00E58F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68384E831E826C5000E58F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68384E8E1E828B9500E58F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68384E991E828BD800E58F68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688AF6D81E8DF0B900A2684F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688AF6E31E8DFC2100A2684F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688AF6F91E8E229D00A2684F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689DEB231E892BB00045B228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C74A281E8A2B2500AD18FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C74A331E8A2B3C00AD18FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C74A3E1E8A5C6400AD18FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C74A491E8A65BD00AD18FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EF76031E83B3E400034D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EF760E1E83BC1200034D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EF762F1E84DF5100034D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EF763A1E84ED4400034D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68EF76451E850EFB00034D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
